<!DOCTYPE html>
<html>
    <head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157392582-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-157392582-1');
	</script>


        <title>Home</title>

    </head>
    <body>
	<h1>Upload new File</h1>
	    <form method=post enctype=multipart/form-data>
		    How would you like your data to be converted to audio?<br>
		    <input type="radio" name="type" value="pitch">Vary pitch (1D data only)<br>
  <input type="radio" name="type" value="both">Vary pitch and volume (2D data only) <br>
  <input type="radio" name="type" value="volume">Vary volume (1D - 6D data) <br>
  <br>
  Upload a CSV with your data (each column should correspond to a different feature):<br> 
  <input type=file name=file><br><br>
	      <input type=submit value=Play>
	    </form>
    </body>

</html>
